extends layout

block head

    script(src='/javascripts/lib/bowser.js')
    script(src='/javascripts/lib/instafeed.min.js')
    script(src='/javascripts/lib/mapbox-sdk.js')

    script(src='/javascripts/front-page.js')
    script(src='/javascripts/map-content.js')
    script(src='/javascripts/media-content.js')
    script(src='/javascripts/info-content.js')

    meta(property='og:url', content=url)
    meta(property='og:type', content=og_type)
    meta(property='og:title', content=main_title)
    meta(property='og:description', content=title + ' ' + text)
    meta(property='fb:app_id', content=fb_app_id)

    meta(property='og:image', content=image_url)



 

block content
    include front-page.html

block app

    #fb-root

    script.
        window.fbAsyncInit = function() {
        FB.init({
          appId            : #{fb_app_id},
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.9'
        });
        FB.AppEvents.logPageView();
        };

        (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    script.
        var app = new L.App({
            title : "#MittLier",
            locale : 'NO',
            ga : 'UA-84295951-5',
        });
